$darkColor: #303030;
$lightColor: #fff;
$blueColor: #15c5bd;

@font-face {
  font-family: "Bellota";
  src: url("fonts/Bellota-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $darkColor;
  font-family: "Bellota";
  & #card {
    background-color: $lightColor;
  }
}
.fab {
  color: $blueColor;
  font-size: 50px;
}

.btn {
  background-color: $blueColor;
  border-color: $lightColor;
  &:hover {
    color: $blueColor;
    background-color: $lightColor;
    border-color: $blueColor;
  }
  width: 208px;
}

btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: $blueColor;
  background-color: $lightColor;
  border-color: $blueColor;
}

.form-control {
  border-color: $blueColor;
  &:focus {
    box-shadow: 0 0 0 0.1rem $blueColor !important;
  }
}

.custom-select {
  border-color: $blueColor;
  &:focus {
    box-shadow: 0 0 0 0.1rem $blueColor !important;
  }
}
.error {
  color: red;
  font-size: 12px;
}
